mixin addDateTimePicker(pickerID)
  div(class='container', style='color: black')
    .row
      .col-sm-6
        input(type='text', class='form-control', id=pickerID)
      script $(function () { $('##{pickerID}').datetimepicker() })

mixin addDateTimePickerCode()
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js')
  link(rel='stylesheet', href='/scripts/datetimepicker/bootstrap-datetimepicker.min.css')
  script(src='/scripts/datetimepicker/bootstrap-datetimepicker.min.js')