mixin addModalSource
  div(class='modal fade', id='entryModal', tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true', style='color:black')
    div(class='modal-dialog', role='document')
      div(class='modal-content', style='background-color: #000000; color: white; border-radius: 1px; border-color: white')
        .modal-header
          h5(class='modal-title pull-left', id='entryModalTitle') Modal title
          button(type='button', class='close pull-right', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true', style='color: #337ab7') &times;
        div(class='modal-body', id='entryModalBody') Here is the contents of the modal body...

mixin addModalCode
  script function showModal(title, body) { document.getElementById('entryModalTitle').innerHTML = title; document.getElementById('entryModalBody').innerHTML = body; $('#entryModal').modal(); }