extends layouts/layout.pug

block content
  h1 Welcome to Mnemosyne!
  p Self hosted web interface for <a href="http://jrnl.sh/">jrnl</a>, <a href="https://taskwarrior.org/docs/timewarrior/">Time Warrior</a>, and <a href="https://taskwarrior.org/">Task Warrior</a>. This project's GitHub repository can be found <a href="https://github.com/Austin-Scott/Mnemosyne">here</a>. Created by Austin Scott.