extends layouts/layout.pug

block content
  h1 Welcome to Mnemosyne!
  p Self hosted web interface for <a href="http://jrnl.sh/" target="_blank">jrnl</a>, <a href="https://taskwarrior.org/docs/timewarrior/" target="_blank">Time Warrior</a>, and <a href="https://taskwarrior.org/" target="_blank">Task Warrior</a>. This project's GitHub repository can be found <a href="https://github.com/Austin-Scott/Mnemosyne" target="_blank">here</a>. Created by Austin Scott and Evan Vander Hoeven.