extends layouts/layout.pug
include includes/tabs.pug
include includes/collapse.pug

block append cdn
  link(title='timeline-styles', rel='stylesheet', href='https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css')
  script(src='https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js')

block content
  +tabBar('Create', 'Search', 'Statistics')
  +beginTabPanel
    +addFirstTab('Create')
      h3 Create new entry
      textarea(class='form-control', rows='10', placeholder='Write something here...', id='compose', style='background-color: #4e535b; color: white; font-size: 18px;')
      br/
      br/
      hr/
      label
        input(type='checkbox', value='', id='tagGPS', onclick='tagCurrentLocation(this)')
        | Tag current location
      div(id='gpsText')
      hr/
      input(type='button', class='btn btn-primary btn-lg btn-block', value='Submit Entry', id='submitEntryButton', onclick='create()')
    +addOtherTab('Search')
      h3 Search
      form(action='javascript:;', onsubmit='search()', id='searchForm')
        label(for='terms') Please enter search terms:
        input(type='text', class='form-control', placeholder='World domination', id='terms')
        hr/
        label
          input(type='checkbox', value='', id='limitByNum', checked)
          | Limit number of results returned
        br/
        label(for='num') Number of results:
        input(class='form-control', type='number', value='5', min='1', id='num')
        hr/
        +collapsePanel('advancedOps', 'Show/Hide advanced options')
          label
            input(type='checkbox', value='', id='starred')
            | Show only starred entries
          hr/
          label(for='tags') Please enter tags to filter by:
          input(type='text', class='form-control', placeholder='@tagOne @tagTwo', id='tags')
          span
            label
              input(type='radio', name='optandor', value='', checked)
              | or&nbsp;&nbsp;
            label
              input(type='radio', name='optandor', id='useAnd')
              | and
          hr/
          label(for='from') Filter earlier than:
          input(type='text', class='form-control', placeholder='last monday', id='filterEarlier')
          label(for='until') Filter later than:
          input(type='text', class='form-control', placeholder='2 march 2012', id='filterLater')
        hr/
      br/
      input(type='button', class='btn btn-primary btn-lg btn-block', value='Search', id='searchButton', onclick='search()')
      br/
      br/
      +tabBar('Cards', 'Timeline')
      +beginTabPanel
        +addFirstTab('Cards')
          div(class='row', id='searchResults')
        +addOtherTab('Timeline')
          div(class='timeline-embed', style='width: 100%; height: 600px')
    +addOtherTab('Statistics')
      h3 Statistics
      input(type='button', class='btn btn-primary btn-lg', value='Request Statistics', id='statisticsButton', onclick='statistics()')
      div(id='statsArea')
      hr/
      +tabBar('Month', 'Year', 'Ten Years')
      +beginTabPanel
        +addFirstTab('Month')
          input(type='button', class='btn btn-primary btn-lg pull-right', value='Next', id='byMonthNext', onclick='monthChartOffset++;updateMonthChart()')
          input(type='button', class='btn btn-primary btn-lg pull-right', value='Previous', id='byMonthPrevious', onclick='monthChartOffset--;updateMonthChart()')
          canvas(width='700', height='400', id='monthCanvas', style='background-color:black;width:100%;height:auto')
        +addOtherTab('Year')
          input(type='button', class='btn btn-primary btn-lg pull-right', value='Next', id='byYearNext', onclick='yearChartOffset++;updateYearChart()')
          input(type='button', class='btn btn-primary btn-lg pull-right', value='Previous', id='byYearPrevious', onclick='yearChartOffset--;updateYearChart()')
          canvas(width='700', height='400', id='yearCanvas', style='background-color:black;width:100%;height:auto')
        +addOtherTab('Ten Years')
          input(type='button', class='btn btn-primary btn-lg pull-right', value='Next', id='byYearsNext', onclick='yearsChartOffset++;updateYearsChart()')
          input(type='button', class='btn btn-primary btn-lg pull-right', value='Previous', id='byYearsPrevious', onclick='yearsChartOffset--;updateYearsChart()')
          canvas(width='700', height='400', id='yearsCanvas', style='background-color:black;width:100%;height:auto')

block append scripts
  script(src='scripts/jrnl/create.js')
  script(src='scripts/jrnl/search.js')
  script(src='scripts/jrnl/statistics.js')