extends layouts/layout.pug

block content
  table(class='table table-dark')
    thead
      tr
        th(scope='col') ID
        th(scope='col') Status
        th(scope='col') Description
        th(scope='col') Urgency
    tbody
      each task in tasks
        tr
          td #{task.id}
          td #{task.status}
          td #{task.description}
          td #{task.urgency}